﻿<div class="pages">
    <div data-page="vqchat" class="page no-navbar">
        <div class="page-content">

            <div class="navbarpages">
                <div class="nav_left_logo"><a href="index.html"><img src="images/VQ-Icon57.png" alt="" title="" /></a></div>
                <div class="nav_right_button"><a href="menu.html"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
            </div>
            <div id="pages_maincontent">

                <h2 class="page_title">About</h2>

                <div class="page_content">

                    <blockquote>
                        Visual Quotes is about creating your next mobile project
                    </blockquote>

                    <img src="images/logo.png" alt="" title="" />

                    <p>
                        Trustworthy connections create <strong>better business together</strong>. Finding the right tradespeople available inside your budget is now possible, & easy.
                    </p>
                    <p>
                        We serve the property market with a free tool enabling you (from your phone)<strong> to record a video</strong>, or snap images of jobs you want done around your home. Your Job Visuals are then put in front of local, available & appropriately capable tradesman throughout New Zealand, & interested tradespeople will contact you with a rough visual price.
                    </p>
                    <p>
                        Submit visuals of the job required, & we’ll ensure <strong>tradespeople available during your ideal timeframe</strong> offer a selection of ‘no obligation’ prices to choose from. Read their reviews, view their work history then proceed with the job.
                    </p>






                </div>

            </div>


        </div>
    </div>
</div>