﻿<div class="pages">
    <div data-page="projects" class="page no-navbar">
        <div class="page-content">

            <div class="navbarpages">
                <div class="nav_left_logo"><a href="index.html"><img src="images/VQ-Icon57.png" alt="" title="" /></a></div>
                <div class="nav_right_button"><a href="menu.html"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
            </div>
            
            <div id="pages_maincontent">

                <h2 class="page_title">Get in touch</h2>

                <div class="page_content">

                    <h2 id="Note"></h2>
                    <div class="contactform">
                        <form class="cmxform">
                            <label>Name:</label>
                            <input type="text" name="name" id="name" value="" class="form_input required" />
                            <label>Email:</label>
                            <input type="text" name="email" id="email" value="" class="form_input required email" />
                            <label>Subject:</label>
                            <input type="text" name="subject" id="subject" value="" class="form_input required" />

                            <label>Message:</label>
                            <textarea name="message" id="message" class="form_textarea textarea required" rows="6" cols=""></textarea>
                            <input type="submit" name="submitContact" class="form_submit" id="submitContact" value="Send" />
                            <input class="" type="hidden" name="to" value="youremail@yourwebsite.com" />
                            <input class="" type="hidden" name="subject" value="Contacf form message" />
                            <label id="loader" style="display:none;"><img src="images/loader.gif" alt="Loading..." id="LoadingGraphic" /></label>
                        </form>
                    </div>

                    <h3>Our Location</h3>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25562.731244203347!2d174.7464902873307!3d-36.786363996792026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d39d015854ae1%3A0x500ef6143a30800!2sTakapuna%2C+Auckland%2C+New+Zealand!5e0!3m2!1sen!2sus!4v1446514783212" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                
                    <div class="call_button"><a href="tel:+64 22222222" class="external">Call Us Now!</a></div>

                    <div class="clear"></div>


                </div>

            </div>


        </div>
    </div>
</div>