<div class="pages">
  <div data-page="topmenu" class="page no-navbar">
    <div class="page-content">
    
      <div class="page_content_menu">
       <nav class="main-nav">
        <ul>
            <!--
            <li><a href="index.html"><img src="images/icons/white/home.png" alt="" title="" /><span>Home</span></a></li>
            <li><a href="contactus.html"><img src="images/icons/white/contact.png" alt="" title="" /><span>Contact</span></a></li>
            <li><a href="aboutus.html"><img src="images/icons/white/user.png" alt="" title="" /><span>About</span></a></li>

            <li><a href="profile_share.html"><img src="images/icons/white/message.png" alt="" title="" /><span>Share</span></a></li>
            <li  class="chatbut"><a href=""><img src="images/icons/white/team.png" alitle="" /><span>Tradies</span></a></li>

            <li class="joblist"><a ><img src="images/icons/white/toogle.png" alt="" title="" /t="" title="" /><span>Chat</span></a></li>
            <li class="tradies" ><a href=""><img src="images/icons/white/user.png" alt="" t><span>Job List</span></a></li>
            <li  class="manage"><a href=""><img src="images/icons/white/docs.png" alt="" title="" /><span>Manager Jobs</span></a></li>
            <li class="postjobs"><a href=""><img src="images/icons/white/briefcase.png" alt="" title="" /><span>Post Jobs</span></a></li>

            <li class="profile"><a href=""><img src="images/icons/white/briefcase.png" alt="" title="" /><span>Profile</span></a></li>
            <li><a href="tel:0221088781" class="external"><img src="images/icons/white/call.png" alt="" title="" /><span>Call us</span></a></li>
            -->
           
            <li class="tradies"><a href=""><img src="images/icons/white/team.png" alt="" title="" /><span>Tradies</span></a></li>
            <li style="background-color:#dddddd;" class="inactive" ><img src="images/icons/white/blog.png" alt="" title="" /><span>Diary</span></li>

            <li><a href=""><img src="images/icons/white/images.png" alt="" title="" /><span>Gallery</span></a></li>
            <li class="inactive"   style="background-color:#dddddd;"><img src="images/icons/white/toogle.png" alt="" title="" /><span>Receipt</span></li>
            <li class="profile"><a href=""><img src="images/icons/white/user.png" alt="" title="" /><span>Profile</span></a></li>

            <li class="editprofile"><a><img src="images/icons/white/settings.png" alt="" title="" /><span>Settings</span></a></li>
            <li class="faq" ><a href=""><img src="images/icons/white/support.png" alt="" title="" /><span>Support</span></a></li>
            <li ><a href="contactus.html"><img src="images/icons/white/contact.png" alt="" title="" /><span>Contact us</span></a></li>

            <li><a href="tel:095557911" class="external"><img src="images/icons/white/call.png" alt="" title="" /><span>Call Us</span></a></li>

             <li><a href="" ><img src="images/icons/white/map.png" alt="" title="" /><span>Map</span></a></li>
            <li><a href="profile_share.html"><img src="images/icons/white/heart.png" alt="" title="" /><span>Share</span></a></li>
            <li id="drawer_logout" ><a href=""><img src="images/icons/white/lock.png" alt="" title="" /><span>Logout</span></a></li>

           
            <li class="inactive"  style="background-color:#dddddd;"><img src="images/icons/white/search.png" alt="" title="" /><span>Search</span></li>
           


          </ul>
      </nav>  
      
     </div> 
      
    </div>
  </div>
</div>