﻿<div class="pages">


    <div data-page="vqshare" class="page">
        <div class="page-content">

            <div class="navbarpages">
                <div class="nav_left_logo"><a href="index.html"><img src="images/VQ-Icon57.png" alt="" title="" /></a></div>
                <div class="nav_right_button"><a href="menu.html"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
            </div>
            <div id="pages_maincontent">
                <h2 class="page_title">Social Media Share</h2>
               
                    <div class="page_content">
                        <!---->
                        <div class="contactform">
                            <form>

                               

                                <label>Send To:</label>
                                <div class="select-style">
                                    <select id="sendtype" name="">
                                        <option value="homehowner">HomeOwners</option>
                                        <option value="contractor">Contractors</option>
                                    </select>
                                </div>

                               
                               <label>Message:</label>
                              <!--  <textarea name="message" id="box" class="form_textarea" rows="" cols=""></textarea>-->
                                <div id="box" name="message" class="box" contenteditable="true">
                                    <h4>My Links</h4>
                                   
                                        <p><a href="www.google.lk" title="Mouseover Description">Link Text Description</a></p>
                                        <p><a href="URL path to external link" title="Mouseover Description">Link Text Description</a></p>
                                        <p><a href="URL path to external link" title="Mouseover Description">Link Text Description</a></p>
                                        <p><a href="URL path to external link" title="Mouseover Description">Link Text Description</a></p>
                                </div>
                                <p>&nbsp;</p>
                                
                                <a href="#" id="smsbut" name="smsbut" class="button active smsbut">Share Message</a>
                            </form>
                        </div>
                  


                    </div>

                </div>


        </div>
    </div>
</div>