﻿<div class="pages">


    <div data-page="projects" class="page">
        <style>
            .demo-card-header-pic .card-header {
                height: 40vw;
                background-size: cover;
                background-position: center;
            }
        </style>
        <script>
        $(document).ready(function () {
            window.alert("Profile page ");
        });

        </script>
        <div class="page-content">

            <div class="navbarpages">
                <div class="nav_left_logo"><a href="index.html"><img src="images/logo.png" alt="" title="" /></a></div>
                <div class="nav_right_button"><a href="menu.html"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
            </div>
            <div class="panel panel-left panel-cover">
                <div class="user_login_info">
                    <div class="user_thumb">
                        <img src="images/profile.jpg" alt="" title="" />
                        <div class="user_details">
                            <p>Hi, <span id="userproile">John</span></p>
                        </div>
                        <div class="user_social">
                            <a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/twitter.png" alt="" title="" /></a>
                        </div>
                    </div>

                    <nav class="user-nav">
                        <ul>
                            <li><a href="features.html" class="close-panel"><img src="images/icons/white/settings.png" alt="" title="" /><span>Settings1</span></a></li>
                            <li><a href="features.html" class="close-panel"><img src="images/icons/white/briefcase.png" alt="" title="" /><span>Account</span></a></li>
                            <li><a href="features.html" class="close-panel"><img src="images/icons/white/message.png" alt="" title="" /><span>Messages</span><strong class="green">12</strong></a></li>
                            <li><a href="features.html" class="close-panel"><img src="images/icons/white/download.png" alt="" title="" /><span>Downloads</span><strong class="blue">5</strong></a></li>
                            <li id="drawer_logout"><a href="index.html" class="close-panel"><img src="images/icons/white/lock.png" alt="" title="" /><span>Logout</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>


            <div id="pages_maincontent">



                <div class="page_content">

                    <div class="content-block-title">Profile Page</div>

                    <div class="card demo-card-header-pic">
                        <div id="companylogo" valign="bottom" class="card-header color-white no-border">Journey To Mountains</div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">Posted on January 21, 2015</p>
                                <p>Quisque eget vestibulum nulla...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Like</a>
                            <a href="#" class="link">Read more</a>
                        </div>
                    </div>





                </div>

            </div>






        </div>
    </div>


</div>
