﻿<body>
    
    <div data-role="page" id="pagetwo" data-theme="b">
       
        <div class="row">


            <div data-role="main" class="ui-content bg" data-theme='b'>


                <form id="formReg">
                    <ul data-role="listview" data-inset="true">

                        <li data-role="fieldcontain">
                            <select name="day" id="day">
                                <option value="mon" selected>Select Type</option>
                                <option value="tradesman">Tradesman</option>
                                <option value="homeowner">Home Owner</option>
                                <option value="propery">Propery Manager</option>
                            </select>
                        </li>
                        <li data-role="fieldcontain">
                            <input type="text" name="name" id="name" placeholder="Your Name">
                        </li>
                        <li data-role="fieldcontain">
                            <input type="text" name="companyname" id="companyname" placeholder="Company Name">
                        </li>
                        <li data-role="fieldcontain">
                            <input type="email" name="email" id="email" placeholder="Email Address">
                        </li>
                        <li data-role="fieldcontain">
                            <input type="password" name="password" id="password" placeholder="Password">
                        </li>
                        <li data-role="fieldcontain">
                            <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Confirm Password">
                        </li>
                        <li id="regload" style="align-content:center;visibility:hidden;">
                            <span id="" style="color:olivedrab"> <i class="fa fa-spinner fa-spin"></i>Registering.... </span>
                        </li>
                        <li data-role="fieldcontain">
                            <input type="button" data-icon="check" id="regbutton1" class="ui-btn ui-shadow" name="regbutton" value="Register">
                            <button  id="regbutton"></button>
                        </li>
                    </ul>
                </form>


                <!--Register Error Dialog box -->


                <div data-role="popup" id="popupRegInvalid" data-theme="b">
                    <div data-role="header" data-theme="b" style="color:#5CADFF">
                        <h1><span id="reghead">Invalid Login</span></h1>
                    </div>
                    <div class="ui-content" data-theme="b">
                        <p class="ui-title"><span id="regmessg">Please Enter the password </span></p>

                        <div class='showastabs center nobg'>
                            <a href="#" style="background-color:#374558" data-rel='back' data-role='button' data-inline='true'>Try Again</a>

                        </div>


                    </div>
                </div>



            </div>


        </div>


    </div>

</body>
